hightemp.txtは，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，hightemp.txtを入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

### 行数のカウント
行数をカウントせよ．確認にはwcコマンドを用いよ．

In [1]:
hight_name = "hightemp.txt"

with open(hight_name, "r") as r:
    cnt = 0
    for _ in r:
        cnt += 1
    print(cnt)

24

### タブをスペースに置換
タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

In [4]:
hight_space_name = "hightemp_space.txt"
with open(hight_space_name, "w") as w:
    with open(hight_name, "r") as r:
        for line in r:
            changed_line = line.replace("\t", " ")
            w.write(changed_line)
print("changed")

changed

### 1列目をcol1.txtに，2列目をcol2.txtに保存
各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ.

In [3]:
with open("col1.txt", "w") as w1:
    with open("col2.txt", "w") as w2:
        with open(hight_name, "r") as r:
            for line in r:
                city_data = line.split("\t")
                w1.write(city_data[0] + "\n")
                w2.write(city_data[1] + "\n")
print("cut")

cut

### col1.txtとcol2.txtをマージ
12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

In [5]:
with open("paste12.txt", "w") as w:
    with open("col1.txt", "r") as r1:
        with open("col2.txt", "r") as r2:
            for line1, line2 in zip(r1, r2):
                w.write(line1.replace("\n", "") + "\t" + line2)
print("pasted")

pasted

### 先頭からN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

In [17]:
N = int(input())

with open(hight_name, "r") as r:
    for i, line in enumerate(r):
        print(line)
        if i >= N - 1:
            break

4
高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

### 末尾のN行を出力
自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

In [19]:
N = int(input())

with open(hight_name, "r") as r:
    for i, line in enumerate(r):
        if i < 24 - N:
            continue
        print(line)

5
埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

### ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

In [22]:
N = int(input())

with open(hight_name, "r") as r:
    for i, line in enumerate(r):
        if i % N == 0:
            print("round{}".format(i // N + 1))
        print(line)

5
round1
高知県	江川崎	41	2013-08-12

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

山形県	山形	40.8	1933-07-25

山梨県	甲府	40.7	2013-08-10

round2
和歌山県	かつらぎ	40.6	1994-08-08

静岡県	天竜	40.6	1994-08-04

山梨県	勝沼	40.5	2013-08-10

埼玉県	越谷	40.4	2007-08-16

群馬県	館林	40.3	2007-08-16

round3
群馬県	上里見	40.3	1998-07-04

愛知県	愛西	40.3	1994-08-05

千葉県	牛久	40.2	2004-07-20

静岡県	佐久間	40.2	2001-07-24

愛媛県	宇和島	40.2	1927-07-22

round4
山形県	酒田	40.1	1978-08-03

岐阜県	美濃	40	2007-08-16

群馬県	前橋	40	2001-07-24

千葉県	茂原	39.9	2013-08-11

埼玉県	鳩山	39.9	1997-07-05

round5
大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

### １列目の文字列の異なり
1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

In [24]:
with open(hight_name, "r") as r:
    city_kind = set()
    for line in r:
        city_kind.add(line.split()[0])
print(city_kind)

{'千葉県', '高知県', '群馬県', '大阪府', '埼玉県', '愛知県', '和歌山県', '山梨県', '静岡県', '山形県', '愛媛県', '岐阜県'}

### 各行を3コラム目の数値の降順にソート
各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

In [40]:
all_data_list = []
with open(hight_name, "r") as r:
    for line in r:
        all_data_list.append(line.split("\t"))

sorted_data_list = sorted(all_data_list, key=lambda x:float(x[2]))

for line_list in sorted_data_list:
    print("{0}\t{1}\t{2}\t{3}".format(*line_list))

千葉県	茂原	39.9	2013-08-11

埼玉県	鳩山	39.9	1997-07-05

大阪府	豊中	39.9	1994-08-08

山梨県	大月	39.9	1990-07-19

山形県	鶴岡	39.9	1978-08-03

愛知県	名古屋	39.9	1942-08-02

岐阜県	美濃	40	2007-08-16

群馬県	前橋	40	2001-07-24

山形県	酒田	40.1	1978-08-03

千葉県	牛久	40.2	2004-07-20

静岡県	佐久間	40.2	2001-07-24

愛媛県	宇和島	40.2	1927-07-22

群馬県	館林	40.3	2007-08-16

群馬県	上里見	40.3	1998-07-04

愛知県	愛西	40.3	1994-08-05

埼玉県	越谷	40.4	2007-08-16

山梨県	勝沼	40.5	2013-08-10

和歌山県	かつらぎ	40.6	1994-08-08

静岡県	天竜	40.6	1994-08-04

山梨県	甲府	40.7	2013-08-10

山形県	山形	40.8	1933-07-25

埼玉県	熊谷	40.9	2007-08-16

岐阜県	多治見	40.9	2007-08-16

高知県	江川崎	41	2013-08-12

### 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

In [54]:
dict_city = {}
with open(hight_name, "r") as r:
        for line in r:
            line_list = line.split()
            if line_list[0] not in dict_city.keys():
                dict_city[line_list[0]] = [line_list]
            else:
                dict_city[line_list[0]].append(line_list)
sorted_data_freq = sorted(dict_city.items(), key = lambda x:-len(x[1]))

for data_freq in sorted_data_freq:
    for data in data_freq[1]:
        print("{0}\t{1}\t{2}\t{3}".format(*data))

埼玉県	熊谷	40.9	2007-08-16
埼玉県	越谷	40.4	2007-08-16
埼玉県	鳩山	39.9	1997-07-05
山形県	山形	40.8	1933-07-25
山形県	酒田	40.1	1978-08-03
山形県	鶴岡	39.9	1978-08-03
山梨県	甲府	40.7	2013-08-10
山梨県	勝沼	40.5	2013-08-10
山梨県	大月	39.9	1990-07-19
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
群馬県	前橋	40	2001-07-24
岐阜県	多治見	40.9	2007-08-16
岐阜県	美濃	40	2007-08-16
静岡県	天竜	40.6	1994-08-04
静岡県	佐久間	40.2	2001-07-24
愛知県	愛西	40.3	1994-08-05
愛知県	名古屋	39.9	1942-08-02
千葉県	牛久	40.2	2004-07-20
千葉県	茂原	39.9	2013-08-11
高知県	江川崎	41	2013-08-12
和歌山県	かつらぎ	40.6	1994-08-08
愛媛県	宇和島	40.2	1927-07-22
大阪府	豊中	39.9	1994-08-08